# Google Cloud Console -> APIs & Services -> Credentials -> OAuth Client ID (Web application)
# Fitness API muss im Projekt aktiviert sein: https://console.cloud.google.com/apis/library/fitness.googleapis.com
# Autorisierte JavaScript-Ursprünge müssen die URL enthalten, unter der die App läuft
# (z.B. http://localhost:5173 für lokale Entwicklung).
VITE_GOOGLE_CLIENT_ID=deine-client-id.apps.googleusercontent.com
